[submodule "portfolio-backend"]
	path = portfolio-backend
	url = https://github.com/h4rldev/portfolio-backend
[submodule "portfolio-frontend"]
	path = portfolio-frontend
	url = https://github.com/h4rldev/portfolio-frontend
