[submodule "www-backend"]
	path = www-backend
	url = https://github.com/h4rldev/www-backend
	branch = "main"
[submodule "www-frontend"]
	path = www-frontend
	url = https://github.com/h4rldev/www-frontend
	branch = "main"
