[submodule "portfolio-backend"]
	path = portfolio-backend
	url = https://github.com/h4rldev/portfolio-backend
	branch = "main"
[submodule "portfolio-frontend"]
	path = portfolio-frontend
	url = https://github.com/h4rldev/portfolio-frontend
	branch = "main"
